.navbar{
    &__link{
        position: relative;
        color: white;
        font-weight: bold;
        margin: 0px;
        transition: all 0.5s;
        text-decoration: none;
    }
    &__link:after{
        position: absolute;
        content: " ";
        bottom: 0px;
        width: 0;
        left: 0;
        height: 20%;
        background-color: red;
        border-radius: 4px;
        transition: all 0.3s;
    }
    &__link:hover:after{
        width: 100%;
    }
 }
 