.navbar{
    &__link{
        color: white !important;
        text-decoration: none;
    }
}
.themeicon{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 50px;
}

.btn{
    outline: none;
}